#cardLogin{
    margin-top: 30px;
    padding: 2px 16px;
    height: 70vh;
    margin-bottom: 30px;
}


.haveNewLine{
    white-space:pre-wrap;}

.btn-mystyle{
    color:#007bff;border-color:#007bff
}
.btn-mystyle:hover{
    color:#fff;background-color:#007bff;border-color:#007bff
}
.btn-round{
    /*font-weight : bold;*/
    /*font-size: 22px;*/
    border-radius: 360px;
}
.filterText{
    width: 50%;
    margin-top: 40px;
}
#fill{
    margin: auto;
}

.moveall,
.removeall {
    border: 1px solid #ccc !important;
}

.moveall::after {
    content: attr(title);

}

.removeall::after {
    content: attr(title);
}

#cusForm1 {
    margin-top: 20px;
    margin-bottom: 50px;
    /*height:  250px;*/
    line-height: 1px;
}


.btn-search {
    margin-left: 50px;
    padding: 5px 40px;
    border-radius: 12px;
}
#cusForm2 {
    margin-bottom: 50px;
    line-height: 1px;
}
.btn-home {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.bold {
    font-weight: 700;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab1 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#ownedform {
    width: 100%;
    /*overflow-x: scroll;*/
}
#infoTabContent{
    width: 180%;
}

/*input number spinner*/
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}
