<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <h1 align="center" style="margin-top: 30px" ><strong >Create Order</strong></h1>
    <hr/>
    <h2 style="margin-top: 30px">Regular Customer</h2>
    <a th:href="@{/items_delivery/search_customer}" class="btn aqua-gradient" role="button" >regular customer</a>
    <hr/>
    <h2 style="margin-top: 30px">New Customer</h2>

    <form class="border border-light p-5" action="#" th:action="@{/items_delivery/create_customer}" method="POST">
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputFirstName">First name</label>
                <input type="text" class="form-control" id="inputFirstName" name="firstname" path="customer" required>
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputLastName">Last name</label>
                <input type="text" class="form-control" id="inputLastName" name="lastname" path="customer" required>
            </div>
        </div>
        <!-- Grid row -->

        <!-- Default input -->
        <!-- Default input -->
        <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" name="phoneNumber" path="customer"
                   pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$"
                   required>
        </div>

        <div class="form-group">
            <input type="submit" class="btn blue-gradient" value="submit">
        </div>

    </form>

</div>