<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <h1>Crate Order</h1>
    <button class="btn aqua-gradient">regular customer</button>
    <h2>Customer Detail</h2>

    <form class="border border-light p-5">
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputEmail4">First name</label>
                <input type="email" class="form-control" id="inputEmail4" >
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputPassword4">Last name</label>
                <input type="password" class="form-control" id="inputPassword4" >
            </div>
        </div>
        <!-- Grid row -->

        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress2">Phone Number</label>
            <input type="tel" class="form-control" id="inputAddress2" placeholder="10 digit " pattern="[0-9]{10}" required>
        </div>
        <!-- Grid row -->

    </form>
    <!-- Extended default form grid -->
    <h2>Order Detail</h2>

    <form class="border border-light p-5">
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress">Name</label>
            <input type="text" class="form-control" id="inputAddress1" >
        </div>
        <!-- Grid row -->
        <div class="form-group">
            <label for="inputAddress">Due Date and Time</label>
            <div> <input type="text" name="datetimes" /></div>
        </div>
        <!-- Default input -->
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Large textarea</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>

        <!-- Grid row -->
        <button type="submit" class="btn btn-primary btn-md">Sign in</button>
    </form>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>
        $(function() {
            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                locale: {
                    format: 'YYYY-MM-DD hh:mm A'
                }
            });
        });
    </script>


</div>