<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div layout:fragment="content" class="container">
    <div class="container">
        <div class="row" style="margin-top: 40px;">
            <div class="col">

                <h2> Pay Bills </h2>
                <p><strong>Step 1:</strong> Select from your list of available payees to build a payment list</p>
                <hr/>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col">
                <form id="demoform">
                    <select  size="10"  onchange="change(this)">
                        <option value="payee1">Aviva Insurance - Business - 987654</option>
                        <option value="payee2">Bell Mobility - 66853 (John Smith)</option>
                        <option value="payee3">Bell Mobility - 75432 (Jane Smith)</option>
                        <option value="payee4">Bell Mobility - 98765 (Jim Smith)</option>
                        <option value="payee5">Canadian Tire Commercial Mastercard - **** 5525</option>
                        <option value="payee6">Canadian Tire Mastercard - **** 3158 (President's Card)</option>
                        <option value="payee7">FedEx Express Canada - 54321</option>
                        <option value="payee8">Lowes Canada - 12345</option>
                        <option value="payee9">Mastercard, PC Financial - **** 5535</option>
                        <option value="payee10">Qtrade Investor - 12345</option>
                        <option value="payee11" >Servus Mastercard - **** 5545</option>
                        <option value="payee12">Telus - 123456787 (Calagary  Office)</option>
                        <option value="payee13">Telus - 123456788 (Edmonton NW Office)</option>
                        <option value="payee14">Telus - 123456789 (Edmonton SE Office)</option>
                    </select>
                    <br>

                    <div class="card">
                        <div class="card-body" id="test">
                            This is some text within a panel body.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function change(t){
            document.getElementById("test").innerHTML= t.options[t.selectedIndex].text ;
        }
    </script>
</div>