<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- common libraries -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

    <!-- plugin -->
    <link rel="stylesheet" href="/bootstrap_duallist/bootstrap-duallistbox.css/">
    <script src="/bootstrap_duallist/jquery.bootstrap-duallistbox.js"></script>

</head>

<div layout:fragment="content" class="container">

    <div id="exTab1" class="container">
        <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#owned" role="tab" aria-controls="home" aria-selected="true">Item List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#create" role="tab" aria-controls="profile" aria-selected="false">Customer</a>
            </li>
        </ul>
    </div>
    <!-- Extended default form grid -->
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="owned" role="tabpanel" aria-labelledby="home-tab">
            <h2> Owned Item </h2>
            <p>Select from your list of items to add a </p>
            <hr/>
            <form id="ownedform" th:action="@{/import_item/import}" method="POST">
                <select size="15" name="item_box[]" id="item_box" required >
                    <option th:each="item : ${allItems}" th:value="${item.id}" th:text ="${item.name}"></option>
                </select>

                <div class="def-number-input number-input safari_only">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" type="button"></button>
                    <input class="quantity" min="1" name="quantity" value="1" type="number">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" type="button"></button>
                </div>


<!--                <div class="form-group">-->
<!--                    <label for="inputDeposit">Amount</label>-->
<!--                    <input type="number" required  min="1"   value="1" class="form-control" name="amount"-->
<!--                           id="inputDeposit">-->
<!--                </div>-->
                <button type="submit" class="btn aqua-gradient" id="submitImport1">Submit</button>
            </form>
        </div>

        <div class="tab-pane fade " id="create" role="tabpanel" aria-labelledby="home-tab">
            <form th:action="@{/import_item/create_item}" method="POST">
                <h2>Create New Item </h2>
                <p>fill every field</p>
                <hr/>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" name="name" required>
                </div>
                <!-- Grid row -->
                <div class="form-row">
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputQuantity">Amount</label>
                        <input type="number" required  min="1"   class="form-control" id="inputQuantity" name="quantity">
                    </div>
                    <!-- Default input -->
                    <div class="form-group col-md-6">
                        <label for="inputUnit">Unit</label>
                        <input type="text" class="form-control" id="inputUnit" name="unit" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea class="form-control rounded-0" id="inputDescription" name="description" rows="10"></textarea>
                </div>
                <!-- Grid row -->
                <button type="submit" class="btn aqua-gradient" id="submitImport2">Submit</button>
            </form>
            <hr/>
        </div>

    </div>
    <!-- Extended default form grid -->

    <script>
        var demo1 = $('select[name="item_box[]"]').bootstrapDualListbox({
            nonSelectedListLabel: 'Available Items',
            selectedListLabel: 'Selected Items',
            preserveSelectionOnMove: 'moved',
            moveAllLabel: '',
            removeAllLabel: ''
        });
        // $("#demoform").submit(function() {
        //     alert($('[name="duallistbox_demo1[]"]').val());
        //     return false;
        // });
    </script>
</div>