<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div layout:fragment="content" class="container">

    <h1>ORDER ID# <a th:text="${Order.getId()}"></a></h1>
    <h2>NAME:  <a th:text="${Order.getName()}"></a></h2>

    <div class="row">
            <div class="col-md-4" style="margin-top: 40px;">
                <div class="profile-work">
                    <p>Create Date Time  <a th:text="${dateTimeAdapter.changeFormatDateTime(Order.createDatetime)}"></a></p>
                    <p>Due Date Time  <a th:text="${dateTimeAdapter.changeFormatDateTime(Order.dueDatetime)}"></a></p>
                    <p>Last Update Date Time  <a th:text="${dateTimeAdapter.changeFormatDateTime(Order.lastUpdateDatetime)}"></a></p>

                </div>
            </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Item List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Customer</a>
                </li>
            </ul>

            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

                            <thead>
                            <tr>

                                <th class="th-sm">ID
                                </th>
                                <th class="th-sm">Item Name
                                </th>
                                <th class="th-sm">Quantity
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : *{allItem}">
                                <td th:text="${item.listItemId.getItemId()}"></td>
                                <td th:text="${itemService.getItem(item.getListItemId().getItemId()).getName()}"></td>
                                <td th:text="${item.quantity}"></td>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID
                                </th>
                                <th>Item Name
                                </th>
                                <th>Quantity
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

