<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div layout:fragment="content" class="container">

    <div class="card" style="margin-top: 30px;">
        <div class="card-body ">
            <h1>ORDER ID# <span th:text="${Order.getId()}" ></span></h1>
            <h4 class="haveNewLine">NAME:  <span th:text="${Order.getName()}"></span></h4>
        </div>
    </div>


    <div class="row" style="margin-top: 20px;">
            <div class="col-md-4" style="margin-top: 60px;">
                <div class="profile-work">
                    <h4>Status <span class="badge" th:text="${Order.getStatus()}" id="statusLabel" style="background: dodgerblue"></span></h4>
                    <p>Create Date Time  <span th:text="${dateTimeAdapter.changeFormatDateTime(Order.createDatetime)}"></span></p>
                    <p>Due Date Time  <span th:text="${dateTimeAdapter.changeFormatDateTime(Order.dueDatetime)}"></span></p>
                    <p>Last Update Date Time  <span th:text="${dateTimeAdapter.changeFormatDateTime(Order.lastUpdateDatetime)}"></span></p>
<!--                    <p>Description  <span th:text="${Order.getDescription()}"></span></p>-->

                </div>
            </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#list" role="tab" aria-controls="home" aria-selected="true">Item List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cus" role="tab" aria-controls="profile" aria-selected="false">Customer</a>
                </li>
            </ul>

            <div class="col-md-8" style="margin-top: 30px;">
                <div class="tab-content profile-tab" id="infoTabContent" >
                    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="home-tab">
                        <table id="itemsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="margin-top: 30px;">
                            <thead>
                            <tr>
                                <th class="th-sm">ID
                                </th>
                                <th class="th-sm">Item Name
                                </th>
                                <th class="th-sm">Required
                                </th>
                                <th class="th-sm">In-stock
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : *{allItem}">
                                <td th:text="${item.listItemId.getItemId()}"></td>
                                <td th:text="${itemService.getItem(item.getListItemId().getItemId()).getName()}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${itemService.getItem(item.listItemId.getItemId()).getQuantity()}"></td>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID
                                </th>
                                <th>Item Name
                                </th>
                                <th >Required
                                </th>
                                <th>In-stock
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="cus" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card"  style="margin-top: 30px;">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item"> <div class="row" >
                            <div class="col-md-6">
                                <label>ID Customer</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${customerService.getCustomer(Order.getCustomerId()).getId()}"></p>
                            </div>
                        </div>
                                </li>
                                <li class="list-group-item"> <div class="row" >
                            <div class="col-md-6">
                                <label>Firstname</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${customerService.getCustomer(Order.getCustomerId()).getFirstname()}"></p>
                            </div>
                        </div>
                                </li>
                                <li class="list-group-item"> <div class="row" >
                            <div class="col-md-6">
                                <label>Lastname</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${customerService.getCustomer(Order.getCustomerId()).getLastname()}"></p>
                            </div>
                        </div>
                                </li>
                                <li class="list-group-item"> <div class="row" >
                                    <div class="col-md-6">
                                        <label>Phone number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p th:text="${customerService.getCustomer(Order.getCustomerId()).getPhoneNumber()}"></p>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<script>

    $(document).ready(function () {
        var st = document.getElementById('statusLabel').textContent;
        if (st == 'CANCEL' ) {
            document.getElementById('statusLabel').style.background = "red";
        }
        else if (st == 'SUCCESS'){
            document.getElementById('statusLabel').style.background = "green";
        }
        else if (st == 'PENDING'){
            document.getElementById('statusLabel').style.background = "orange";
        }
    });

</script>

        <div class="card " style="margin-top: 30px;">
            <div class="card-body">
                <br><strong>ORDER ADDRESS: </strong> </br><span th:text="${Order.address}"></span></p>
                <p><strong>ORDER DESCRIPTION:  </strong> </br> <span th:text="${Order.description}" class="haveNewLine"></span></p>
            </div>
        </div>
    <script>
        $(document).ready(function () {
            $('#itemsTable').DataTable({
                "aaSorting": [],
                columnDefs: [{

                }],order: [ 0, "asc" ]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
        </div>

