<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">


<div layout:fragment="content" class="container">
    <h1 align="center" style="margin-top: 30px"><strong>List Of Items</strong></h1>

    <table id="inStockColumn" class="table table-striped table-bordered table-sm haveNewLine" cellspacing="0" width="100%">

        <thead>
        <tr>
            <th class="th-sm">ID
            </th>
            <th class="th-sm">Item Name
            </th>
            <th class="th-sm">Quantity
            </th>
            <th class="th-sm">Required
            </th>
            <th class="th-sm">Unit
            </th>
            <th class="th-sm">Description
            </th>
        </tr>
        <tr>
            <th class="th-sm">ID
            </th>
            <th class="th-sm">Item Name
            </th>
            <th class="th-sm">Quantity
            </th>
            <th class="th-sm">Required
            </th>
            <th class="th-sm">Unit
            </th>
            <th class="th-sm">Description
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${allItems}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"> </td>
            <td th:text="${item.required}"></td>
            <td th:text="${item.unit}"></td>
            <td th:text="${item.description}"></td>

        </tbody>
        <tfoot>
        <tr>
            <th>ID
            </th>
            <th>Item Name
            </th>
            <th>Quantity
            </th>
            <th>Required
            </th>
            <th>Unit
            </th>
            <th >Description
            </th>

        </tr>
        </tfoot>
    </table>

    <!-- End your project here-->


    <!--    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->

    <script>
        $(document).ready(function () {
            $('#inStockColumn').DataTable({
                initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
                            .appendTo( $(column.header()).empty() )
                            .on( 'change input', function () {
                                var val = $(this).val()

                                column
                                    .search( val ? val : '', true, false )
                                    .draw();
                            } );

                    } );
                },
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: 5
                }],order: [ 0, "asc" ]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
</div>