<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/datepicker/css/datepicker.css">

    <script type="text/javascript" src="/datepicker/js/bootstrap-datepicker.js"></script>

</head>

<div layout:fragment="content" class="container">
<form action="#" class="border border-light p-5" id="dateForm" th:action="@{/items-delivery/report}" method="POST">
    <div class='input-group'>
        <span class="input-group-addon">
            <span class="fa fa-calendar" style="margin-right: 10px"></span>
        </span>
        <input type="text" name="date" id="datepicker" placeholder="Enter Month and year" pattern="[0-9]{1,2}-[0-9]{4}" required/>
    </div>
    <input class="btn btn-light-green btn-search" type="submit" value="Search"></input>
</form>

    <h1 align="center" style="margin-top: 30px"><strong>รายงานการยกเลิกออเดอร์ประจำเดือน<span th:text="${month}"></span></strong></h1>
    <h2  style="margin-top: 30px"><strong>ออก ณ วันที่ <span th:text="${dateTime.changeFormatDateSlash(currentDateTime)}"></span></strong></h2>
    <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Cancel Date
            </th>
            <th class="th-sm">Order Name
            </th>
            <th class="th-sm">Customer Name
            </th>
            <th class="th-sm">Staff Name
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${cancelOrders}">
            <td th:text="${dateTime.changeFormatDate(order.lastUpdateDatetime)}"></td>
            <td th:text="${order.name}"></td>
            <td th:text="${customerService.getCustomer(order.customerId).firstname}+'   '+${customerService.getCustomer(order.customerId).lastname}"></td>
            <td th:text="${authenService.findStaffById(order.staffId).firstname}+'   '+${authenService.findStaffById(order.staffId).lastname}"></td>
        </tr>
        <tr>
            <td colspan="4" class="bold">รวมทั้งหมด: <span th:text="${cancelOrders.size()}" class="bold"></span> Order</td>
        </tr>
        </tbody>

    </table>

    <script>
        $("#datepicker").datepicker( {
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        });
    </script>

</div>